{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="container">
    {# Intro section #}
    <div class="row">
        <div class="col-sm-6">
            {% if latest_post %}
                <div class="card mb-3">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ latest_post.title }}</h5>
                        <p class="card-text">
                            {{ latest_post.snippet }}
                        </p>
                    </div>
                </div>
            {% else %}
                {% include 'blog/includes/under_construction_card.html' %}
            {% endif %}
        </div>
        <div class="col-sm-6">
            <div class="row">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="row">
                {{ page.intro|richtext }}
            </div>
        </div>
    </div>
    <hr />
    {# Youtube section #}
    <h2>Videos:</h2>
    <div class="row">
        {% for block in page.youtube_embeds %}
            {% include_block block %}
        {% endfor %}
    </div>
    <hr />
    {# Articles section #}
    {% for category in categories %}
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mt-4">
                    <p><a href="{{ category.url_path }}" class="text-decoration-none text-dark">{{ category.title }}</a></p>
                </h2>
            </div>
        </div>
        <div class="row">
                {% include "blog/includes/article_list.html" with article_list=category.posts %}
        </div>
        <div class="row">
            <a href="{{ category.url_path }}"><b>View More »</b></a>
        </div>
    {% endfor %}
    {% if reddit_embeds %}
        <hr />
        {# Reddit section #}
        <h2>{{ page.reddit_embeds.title }}</h2>
        <div class="row">
            {% include "blog/includes/reddit_post_embeds.html" with embeds=reddit_embeds %}
        </div>
    {% endif %}
    <hr />
    <h2>Resources:</h2>
    <div class="row">
        {{ page.resource_list }}
    </div>
</div>
{% endblock content %}
{# JavaScript for the reddit embeds #}
{% block extra_js %}
    {% if reddit_embeds %}
        <script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>
    {% endif %}
{% endblock %}